body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-card {
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.weather-card h1 {
    margin: 0;
    color: #333;
}

.weather-card h3 {
    margin-top: 10px;
    color: #555;
}

.weather-card input {
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 80%;
}

.weather-card button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    background: #74ebd5;
    color: #fff;
    cursor: pointer;
    width: 85%;
}

#weather-info {
    margin-top: 20px;
    display: none;
}

#weather-icon {
    width: 100px;
    height: 100px;
}

#city-name {
    margin-top: 10px;
    font-size: 1.5em;
    color: #333;
}

#temperature,
#description,
#wind-speed,
#humidity {
    margin-top: 10px;
    color: #555;
}
